<div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; margin: auto; max-width: 800px;">
    <div class="card-body">
        <h1 class="mb-4">Datenschutzerklärung</h1>

        <h2>Präambel</h2>
        <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet)
            wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten,
            sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen,
            wie z. B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als "Onlineangebot").</p>
        <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
        <p><strong>Stand:</strong> 26. Februar 2025</p>

        <h2>Inhaltsübersicht</h2>

        <ul style="display: inline-block; text-align: left;">
            <li>Präambel</li>
            <li>Verantwortlicher</li>
            <li>Übersicht der Verarbeitungen</li>
            <li>Maßgebliche Rechtsgrundlagen</li>
            <li>Sicherheitsmaßnahmen</li>
            <li>Allgemeine Informationen zur Datenspeicherung und Löschung</li>
            <li>Rechte der betroffenen Personen</li>
            <li>Bereitstellung des Onlineangebots und Webhosting</li>
            <li>Einsatz von Cookies</li>
            <li>Kontakt- und Anfrageverwaltung</li>
            <li>Änderung und Aktualisierung</li>
            <li>Begriffsdefinitionen</li>
        </ul>
    </div>
</div>
