<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niklas Webseite</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <a href="index.html">
        <img src="../static/imgs/TF_Logo_schwarz.png" alt="logo" width="300" height="100">
    </a>

    <div class="container-social">
        <a href="https://www.instagram.com/tomorrowsfilmwork/">
            <img class="crop-center" src="../static/imgs/instagram.png" alt="youtube">
        </a>
        <a href="https://www.youtube.com/@niklasrmn">
            <img class="crop-center" src="../static/imgs/youtube.png" alt="youtube">
        </a>
        <a href="mailto:name@bla.de">
            <img class="crop-center" src="../static/imgs/umschlag.png" alt="youtube">
        </a>
    </div>
</header>
</body>
</html>