<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomorrows Filmwork - Filmproduction</title>
    <meta name="description" content="Filmproduction / Director of Photography based in Dresden">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/imgs/Logo_klein_transparent.png">
</head>
<body>

    {% include 'components/header.html' %}

<div class="container mt-5">
    <div class="card-body">
        <h2 class=" text-center">Impressum</h2>
        <hr>
        <h4>Diensteanbieter</h4>
        <p><strong>Niklas Reimann</strong><br>
            Lauterhofener Straße 19<br>
            08107 Kirchberg</p>

        <h4>Kontaktmöglichkeiten</h4>
        <p>E-Mail-Adresse: <a href="mailto:info@tomorrows-filmwork.com">info@tomorrows-filmwork.com</a></p>

        <h4>Audiovisuelle Mediendienste</h4>
        <p>Sitzland: Deutschland<br>
            Zuständige Regulierungs-, bzw. Aufsichtsbehörde:<br>
            Sächsische Landesanstalt für privaten Rundfunk und neue Medien (SLM)</p>

        <h4>Angaben zum Unternehmen</h4>
        <p>Umsatzsteuer Identifikationsnummer (USt-ID): <strong>DE327639293</strong></p>

        <h4>Social Media und andere Onlinepräsenzen</h4>
        <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:</p>
        <p><a href="https://www.instagram.com/tomorrowsfilmwork/" target="_blank">Instagram</a></p>
    </div>
</div>

{% include 'components/footer.html' %}

</body>
</html>