<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomorrows Filmwork</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/imgs/Logo_klein_transparent.png">

</head>
<body>

{% include 'components/header.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="/corvette">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/1_Corvette_C4.gif" alt="Crovette">
                    <div class="overlay">Corvette C4 // Spec Ad</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/klettern-im-elbsandsteingebirge">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/2_Klettern_im_Elbsandsteingebirge2.gif" alt="Klettern im Elbsandsteingebirge">
                    <div class="overlay">Klettern im Elbsandsteingebirge // Short Documentary</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/daf">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/3_Made_For_Daf.gif" alt="DAF Sachsenrallyes">
                    <div class="overlay">Made for DAF // Branded Content</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/iceland">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/4_Moments_from_Iceland.gif" alt="Iceland">
                    <div class="overlay">Moments from Iceland // Travel Film</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/ccl-label" class="img-container">
                <div class="image-container">

                    <img class="img-fluid w-100" src="../static/imgs/5_CLL_Meerane.gif" alt="CCL">

                    <div class="overlay">CCL Meerane // Imagefilm </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/falten-des-kranichs">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/6_Falten_des_Kranichs.gif" alt="Kranichs">
                    <div class="overlay">Die Falten des Kranichs // Trailer</div>
                </div>
            </a>
        </div>
    </div>
</div>

{% include 'components/footer.html' %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
