<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomorrows Filmwork</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<iframe style="width: 100%" src="header.html"></iframe>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="crovette.html">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/1_Corvette_C4.gif" alt="Crovette">
                    <div class="overlay">Corvette C4 // Spec Ad</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="mx.html">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/2_Klettern_im_Elbsandsteingebirge2.gif" alt="Klettern im Elbsandsteingebirge">
                    <div class="overlay">Klettern im Elbsandsteingebirge // Short Documentary</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="daf.html">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/3_Made_For_Daf.gif" alt="DAF Sachsenrallyes">
                    <div class="overlay">Made for DAF // Branded Content</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="iceland.html">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/4_Moments_from_Iceland.gif" alt="Iceland">
                    <div class="overlay">Moments from Iceland // Travel Film</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="cll.html" class="img-container">
                <div class="image-container">

                    <img class="img-fluid w-100" src="../static/imgs/5_CLL_Meerane.gif" alt="CCL">

                    <div class="overlay">CCL Meerane // Imagefilm </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="kranichs.html">
                <div class="image-container">
                    <img class="img-fluid w-100" src="../static/imgs/6_Falten_des_Kranichs.gif" alt="Kranichs">
                    <div class="overlay">Die Falten des Kranichs // Trailer</div>
                </div>
            </a>
        </div>
    </div>
</div>
<iframe style="width: 100%" src="footer.html"></iframe>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>

<!--TODO favicon allgemein, responisve kleine -->