<!-- <div class="text-light py-4 d-flex justify-content-center align-items-center" style="margin: 100px auto 30px auto; width: 80%;">
    <div class="text-center">
        <p class="mb-0 small">&copy; 2025 Tomorrows Filmwork. Alle Rechte vorbehalten.</p>
        <a href="/impressum"  target="_top" class="text-light text-decoration-none small">Impressum</a> |
        <a href="/datenschutz"  target="_top" class="text-light text-decoration-none small">Datenschutz</a>
        <br>
        <br>
         <p class="mb-0 small">
            Design und technische Umsetzung der Webseite durch 
            <a class="text-light text-decoration-none" href="https://github.com/JennyWary">Jennifer Bramadas</a>
            und
            <a class="text-light text-decoration-none" href="https://www.linkedin.com/in/pascal-bergmann/">Pascal Bergmann</a>
        </p>

    </div>
</div> -->


<div class="py-4 d-flex justify-content-center align-items-center" style="margin: 100px auto 30px auto; width: 80%; color: #747070;">
    <div class="text-center">
        <p class="mb-0 small" style="color: #747070;">&copy; 2025 Tomorrows Filmwork. Alle Rechte vorbehalten.</p>
        <div style="color: #747070;">
            <a href="/impressum" target="_top" class="text-decoration-none small" style="color: #747070;">Impressum</a> |
            <a href="/datenschutz" target="_top" class="text-decoration-none small" style="color: #747070;">Datenschutz</a>
        </div>
        <br>
        <p class="mb-0 small" style="color: #747070;">
            Design und technische Umsetzung der Webseite durch 
            <a class="text-decoration-none" href="https://www.linkedin.com/in/jennifer-b-0a6566157/" style="color: #747070;">Jennifer Bramadas</a>
            und
            <a class="text-decoration-none" href="https://www.linkedin.com/in/pascal-bergmann/" style="color: #747070;">Pascal Bergmann</a>
        </p>
    </div>
</div>
