<footer class="text-light py-4 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <p class="mb-0 small">&copy; 2025 Tomorrows Filmwork. Alle Rechte vorbehalten.</p>
        <a href="/impressum"  target="_top" class="text-light text-decoration-none small">Impressum</a> |
        <a href="/datenschutz"  target="_top" class="text-light text-decoration-none small">Datenschutz</a>
        <!--<br>
        <br>
         <p class="mb-0 small">
            Design und technische Umsetzung der Webseite durch 
            <a class="text-light text-decoration-none" href="https://github.com/JennyWary">Jennifer Bramadas</a>
            und
            <a class="text-light text-decoration-none" href="https://www.linkedin.com/in/pascal-bergmann/">Pascal Bergmann</a>
        </p> -->

    </div>
</footer>
