<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomorrows Filmwork</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Logo -->
            <a target="_top" class="navbar-brand" href="/">
                <img src="../static/imgs/TF_Logo_wei.png" alt="Logo">
            </a>
            <!-- Social Media Icons -->
            <div class="d-flex social-icons">
                <a target="_top" href="https://www.instagram.com/tomorrowsfilmwork/">
                    <img src="../static/imgs/instagram_white.png" alt="Instagram">
                </a>
                <a target="_top" href="mailto:niklas.reimann4@gmail.com">
                    <img src="../static/imgs/email_white.png" alt="E-Mail">
                </a>
            </div>
        </div>
    </nav>
    <!--    </nav>-->
</header>

</body>
</html>