<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Logo -->
            <a target="_top" class="navbar-brand" href="/">
                <img src="../static/imgs/TF_Logo_wei.png" alt="Logo">
            </a>
            <!-- Social Media Icons -->
            <div class="d-flex social-icons">
                <a target="_top" href="https://www.instagram.com/tomorrowsfilmwork/">
                    <img src="../static/imgs/instagram_white.png" alt="Instagram">
                </a>
                <a target="_top" href="mailto:info@tomorrows-filmwork.com">
                    <img src="../static/imgs/email_white.png" alt="E-Mail">
                </a>
            </div>
        </div>
    </nav>
    <!--    </nav>-->
</header>
